@import "tailwindcss";

:root {
  --background: #d9d9d9;
  --foreground: #171717;
}

html {
  height: 100%;
}
html,
body {
  cursor: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #101010;
  color: #d9d9d9;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.customGreen {
  background-color: hsl(146, 72%, 58%);
}

.customGreenSvg {
  stroke: hsl(146, 72%, 58%);
}

.main-wrapper::after {
  content: "";
  width: 100%;
  background: #101010;
  height: 31px;
  position: fixed;
  top: 0;
  z-index: 123;
}

.main-wrapper::before {
  content: "";
  width: 100%;
  background: #101010;
  height: 31px;
  position: fixed;
  bottom: 0;
  z-index: 123;
}

.article-expandable {
  font-size: 2rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.article-expandable::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;

  background: linear-gradient(
    to left,
    hsl(74, 98%, 41%),
    hsl(89, 61%, 55%),
    hsl(116, 98%, 41%),
    hsl(132, 98%, 41%),
    hsl(58, 98%, 41%),
    hsl(48, 98%, 41%)
  );

  bottom: -5px;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-out;
}

.article-expandable.clicked::after {
  transform: scaleX(1);
}
@media (min-width: 768px) {
  .article-expandable:hover::after {
    transform: scaleX(1);
  }
}

h1 {
  font-family: var(--font-geist-sans);
}

canvas {
  padding: 32px;
}
